---
---

@import "{{ site.theme }}";

footer {
  display: none !important;
}

.btn {
  display: none !important;
}

topnav {
  color: #FFFFFF;
  float: right;
  padding: 80px;
}

.topnav a {
  color:#FFFFFF;
}

h1 {
  color: #C0F9FF;
  font-family: 'Roboto Mono', monospace;
  margin: 0;
}

h2 {
  color: #C0F9FF;  
  font-family: 'Roboto Mono', monospace;
  margin: 0;
}

h3 {
  
  color: #FFD0FA;
  font-family: 'Roboto Mono', monospace;
}

p {
  font-family: 'Roboto Mono', monospace;
}

a {
  text-decoration: none;
}
