---
---

@import "{{ site.theme }}";

header {
  display: none;
}

topnav {
  color: #FFFFFF;
}

h1 {
  color: #FFD0FA;
  font-family: 'Roboto Mono', monospace;
}

h3 {
  color: #C0F9FF;
  font-family: 'Roboto Mono', monospace;
}

p {
  font-family: 'Roboto Mono', monospace;
}

a {
  text-decoration: none;
}
